Daily summary of events from the last 24 hours:
- Services uptimes: {{ uptimes }}
- Names of pictures taken: {{ pictures }}
{% if intense_light %}
- Intense light alerts: {{ intense_light }}
{% endif %}
{% if high_temp %}
- High temperature alerts: {{ high_temp }}
{% endif %}

Regards,
Your Raspberry
